<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <title>
    {{ site.title }}{% if page.label %} | {{ page.label }}{% elsif page.title %} | {{ page.title }}{% endif %}
  </title>

  <link rel='icon' type='image/png' href="{{ 'img/logo.png' | absolute_url }}">
  <link rel='stylesheet' href="{{ '/assets/styles.css' | absolute_url }}"/>

  <script type='text/javascript' src="{{ '/assets/jquery-3.2.1.min.js' | absolute_url }}"></script>
  <script type='text/javascript' src="{{ '/assets/bs.js' | absolute_url }}"></script>
  <noscript><p>Please enable JavaScript in your browser.</p></noscript>

  <meta name="keywords" content="buscadoras, colectivos, desaparecidos" />
  <meta name="description" content="Archivo con testimonios y herramientas prácticas para la búsqueda de personas desaparecidas en México." />
  <meta property="og:title" content="Proyecto Buscadoras: No están solas" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="No Están Solas: Saberes para la búsqueda de personas desaparecidas en México es una plataforma que documenta la acción colectiva en la búsqueda de desaparecidos." />
	<meta property="og:url" content="https://buscadoras.github.io" />
	<meta property="og:image" content="{{ '/assets/images/og_no_estan_solas.png' | absolute_url }}" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XGYY6300MP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-XGYY6300MP');
</script>
<!-- Google tag (gtag.js) -->

</head>
