@import 'bootstrap';
@import 'animate';

html, body {
  margin: 0;
  padding: 0;
  font-family: $body-font;
  font-display: auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}

body {
  background-color: #EEEEEC;
  transition: background-color 2s ease;
  color: $midnight;
}

::selection {
  color: $neutro_9;
  background: $neutro_9;
}

h2, h3, h4, h5,
.h2, .h3, .h4, .h5 {
  font-family: $body-font;
}

h2 {
  font-family: $body-font;
  font-size: 1.4em;
  margin: 0 0 18px 0;
}

h3 {
  font-family: $body-font;
  font-size: 1.2em;
  font-weight: 800;
  margin: 40px 0 30px 0;
  color: #484644;
  text-transform: uppercase;
  display: inline-block;
}


/*
h3::after {
  content: '';
  display: block;
  height: 2px;
  background: #847F7C;
}
*/






a:link, a:visited, a:active {
  color: $red;
  text-decoration: none;
}

a:hover {
  color: #F64C1C;
  transition: 0.3s;
}

p {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.65rem;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

p.big {
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 12px 0;
  padding: 0 160px 0 0;
  text-align: justify;
}





@media only screen and (max-width: 880px) {
  h3 {
    font-size: 2.6em;
    margin: 60px 0 40px 0;
  }
}













/* ––– data-color ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.color-brick{
  color: $red;
}

.hope {
  color: #00FFB6;
}


.color-cream {
  background-color: #FFF0FA;
}

.color-pink {
  background-color: #F0E1EB;
}

.color-green {
  background-color: #D3EFD4;
}





#full_bg_image {
  width: 84%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 16%;
  z-index: 1;
  background-image: url('../assets/images/full_bg_6C2A0695.jpg');
  //background-image: url('../assets/images/full_bg_nEP3Ke2f.jpg');
  background-size: 100%;
  display: none;
}

div#carousel {
  position: fixed;
  right: 40px;
  top: 40%;
  z-index: 90;
  ul {

  }
  li {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #fff;
    opacity: 0.8;
    text-indent: 20px;
    overflow: hidden;
    margin: 0 0 12px 0;
    cursor: pointer;
  }
  li:hover {
    opacity: 1;
  }
}











.tag_docs {
  position: absolute;
  right: 20px;
  bottom: 30px;
}

a.web {
  display: block;
  margin: 8px 0 0 0;
  text-decoration: underline;
}

a.web:hover {
  color: $green_0;
}


a.Fb, a.Tw  {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 12px 6px 0 0;
  overflow: hidden;
  background-image: url('../assets/images/Facebook_logo.svg');
  background-size: 25px;
  background-repeat: no-repeat;
  line-height: 90px;
}

a.Tw {
  background-image: url('../assets/images/Twitter_logo.svg');
}














/* ––– SIDEBAR ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

sidebar {
	background-color: #DBDADA;
	width: 16%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 98;
  padding: 0;
}

a#name {
	position: absolute;
	top: 32px;
	left: 20px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #32302F;
  /*background-image: url('../assets/images/logo_mini.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 16px;*/
}

a#name:hover {
	border: none;
  text-decoration: none;
  color: #428270;
}

div#guide {
  width: 80%;
  height: 160px;
  margin-left: 10%;
  position: absolute;
  top: 350px;
  h1 {
    color: #fff;
    position: absolute;
    top: 50px;
    left: 12px;
    font-size: 22px;
    line-height: 26px;
    span {
      color: #00FFB6;
    }
  }
  h2 {
    color: #fff;
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }
  a:link, a:visited, a:active {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #008A80;
  }
  a:hover {
      background-color: #337358;
  }
}

p#lang {
	font-size: 14px;
  line-height: 16px;
	font-weight: 500;
	text-align: left;
	padding: 0 0 0 6px;
	position: absolute;
  left: 20px;
  bottom: 50px;
  color: #575860;
  a:link, a:visited, a:active {
    color: $gray;
    text-decoration: none;
    border-color: 1px solid #fff;
    padding: 6px;
    border-radius: 6px;
    margin: 0 4px 0 0;
  }
  a:hover {
    color: #32302F;
  }
}

nav.navbar {
  width: 100%;
  margin: 80px 0 30px 0;
}

ul.nav-menu {
  text-align: left;
  width: 100%;
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
}

ul.nav-menu li {
  margin: 16px 0;
  padding: 0 0 0 8px;
}

.nav-menu li a:link,
.nav-menu li a:visited,
.nav-menu li a:active,
a#about:link, a#about:visited, a#about:active {
  text-decoration: none;
	border-bottom: none;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  display: block;
  color: $gray;
}

.nav-menu li a:hover,
a#about:hover {
  color: #428270;
}

a#about:link, a#about:visited, a#about:active {
  position: relative;
  top: 210px;
  left: 24px;
}



/*
.nav-menu li a.activo {
  color: $green_0;
  font-weight: 500;
}

.nav-menu li::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  margin: 0 0 16px 0;
  background: $green_8;
  transition: width .3s;
}

.nav-menu li:hover::after {
  width: 80%;
}
*/

.hamburger {
  display: none;
}

.bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 4px auto;
		background-color: #444240;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger .bar:nth-child(2) {
	opacity: 0;
}
.hamburger .bar:nth-child(1) {
	transform: translateY(6px) rotate(45deg);
}
.hamburger .bar:nth-child(3) {
	 transform: translateY(-6px) rotate(-45deg);
}
.hamburger.activo .bar:nth-child(2) {
	opacity: 1.0;
}
.hamburger.activo .bar:nth-child(1) {
	transform: translateY(0px) rotate(0deg);
}
.hamburger.activo .bar:nth-child(3) {
	 transform: translateY(0px) rotate(0deg);
}







@media only screen and (max-width: 1280px) {
  p.big {
    font-size: 18px;
    padding: 0 10px 0 0;
  }
}



@media only screen and (max-width: 1280px) {
  .nav-menu li a:link,
  .nav-menu li a:visited,
  .nav-menu li a:active {
    font-size: 16px;
  }
  div#guide {
    h1 {
      font-size: 16px;
      line-height: 18px;
    }
  }
}



@media only screen and (max-width: 1080px) {
  sidebar {
	   width: 100%;
	   height: 48px;
     z-index: 200;
  }
  a#name {
  	top: 12px;
  	left: 18px;
  }
  .hamburger {
    display: block;
    position: absolute;
  	top: 12px;
  	right: 18px;
  	cursor: pointer;
    z-index: 101;
  }
  nav.navbar,
  p.nav-p,
  div#guide,
  a#about:link  {
    display: none;
    z-index: 102;
  }
  div#guide {
    width: 60%;
    height: 150px;
    margin: 20px 0 0 20px;
    padding: 0 36px;
    h1 {
      font-size: 28px;
      line-height: 31px;
    }
  }
  h3 {
    font-size: 1.2em;
    margin: 80px 0 20px 0;
  }
  .nav-menu li a:link,
  .nav-menu li a:visited,
  .nav-menu li a:active {
    font-size: 22px;
    line-height: 26px;
  }
}

@media only screen and (max-height: 680px) {
  nav.navbar {
    margin: 60px 0 0px 0;
  }
  ul.nav-menu li {
    margin: 8px 0;
  }
}















/* ––– COVER ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

#cover {
  h1 {
    font-family: $heading-font;
    color: $green_0;
    font-size: 5.6em;
    line-height: 1.1em;
    font-weight: 500;
    margin: 0 0 40px 0;
  }
  h2 {
    font-size: 1.6rem;
    line-height: auto;
    font-weight: 600;
    text-transform: uppercase;
    margin: 40px 0 0 0;
    color: $neutro_1;
  }
  h2.page-subtitle {
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    color: $neutro_1;
    margin: 40px 0 20px 0;
  }
  .start {
    cursor: pointer;
    background-color: $red;
    color: #fff;
    display: inline-block;
    padding: 2px 6px;
    border-radius: 22px;
    font-weight: 600;
  }
}



@media only screen and (max-width: 768px) {
  #cover {
    h1 {
      font-size: 3.1em;
      line-height: 1.1em;
      margin: 20px 0 40px 0;
    }
    h2.page-subtitle {
      margin: 80px 0 28px 0;
    }
    .content-top {
      margin: 20px 0 60px 0;
      p {
        font-size: 18px;
        line-height: 28px;
        padding: 0 22px 0 0;
      }
    }
  }
}








/* ––– LAYOUT ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

.content-container {
  width: 75%;
  position: relative;
  left: 19%;
  z-index: 99;
  padding: 0;
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 5px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 90%;
  flex: 1;
  padding: 0 30px 0 0;
  overflow: hidden;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 90%;
  flex: 2;
}






div#pasos {
  width: 70%;
  position: relative;
  z-index: 90;
  h3 {
    font-family: $heading-font;
    text-transform: none;
    font-size: 4.2em;
    line-height: 1.1em;
    font-weight: 500;
    margin: 30px 0 40px 0;
  }
  a#guidepdf:link, a#guidepdf:visited, a#guidepdf:active {
    display: block;
    padding: 22px 0;
    font-weight: 600;
    font-size: 22px;
  }
  p {
    margin: 42px 0;
  }
}

dl#steps {
  margin: 28px 0;
  dt {
    font-size: 22px;
    font-weight: 600;
  }
  dd {
    margin: 0 0 42px 0;
  }
  span {
    color: #22A17E;
    font-size: 42px;
  }
}

div#bg_green {
  width: 77%;
  height: 62%;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 89;
  background-color: #DDFEF4;
}






div#about {
  width: 90%;
  margin-left: 5%;
  h4 {
    font-family: $heading-font;
    color: #484644;
    text-transform: none;
    font-size: 3.6em;
    font-weight: 500;
    margin: 40px 0;
  }
  div.pink {
    background-color: #F0E1EB;
    padding: 40px 60px;
  }

}






.archivo {
  margin: 30px 0 90px 0;
  h3 {
    font-family: $body-font;
    color: $gray;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 20px 0;
  }
  a:link {
    font-weight: 600;
  }
  a.bottom:link {
    position: absolute;
    bottom: 0;
  }
  p.c1 {
    margin-top: 12px;
    margin-left: 12px;
    padding: 0 60px 0 0;

  }
  p.footer {
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    color: $gray;
    span {
      font-family: $body-font;
      color: $gray;
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}



.placeholder_video {
  width: 80%;
  height: 180px;
  background-color: #E2EEF7;
  margin: 0 0 20px 0;
}




div.quote {
  width: 100%;
  padding: 0 130px 0 90px;
  margin: 0 0 0 0;
  position: relative;
  z-index: 89;
  h4, h5, h6 {
    font-family: $heading-font;
    font-size: 3.2em;
    line-height: 1.2;
    font-weight: 600;
    color: #fff;
  }
  h5 {
    font-family: $body-font;
    font-size: 1.1em;
    font-style: italic;
    margin: 30px 0 30px 0;
    font-weight: 600;
  }
  h4.light {
    color: #FFF;
  }
  h4.small {
    font-size: 2.8em;
    line-height: 1.3;
  }
  h4.verysmall {
    font-size: 2.4em;
    line-height: 1.2;
  }
  p {
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    font-weight: 500;
  }
  p.grand {
    font-size: 26px;
    line-height: 36px;
  }
  .light {
    color: $neutro_2;
  }
  .dark {
    color: $neutro_1;
  }
}



.testimony {
  background: #F6F5F4;
  padding: 30px;
  margin: 18px;
  position: relative;
  p {
    margin: 0 0 60px 0;
  }
  p.who {
    position: absolute;
    bottom: 30px;
    font-weight: 500;
    margin: 0;
  }
}










a#top {
  position: fixed;
  right: 30px;
  bottom: 50px;
  background-color: $neutro_1;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  line-height: 40px;
  text-align: center;
  color: $neutro_9;
  font-size: 22px;
  display: none;
}

a#top:hover {
  color: $red;
}


p.intro {
  font-size: 16px;
  line-height: 21px;
  margin: 0 0 30px 0;
  padding: 0 0 0 0;
}



div.documentos {
  width: 90%;
  .row {
    margin: 36px 0;
    background-color: $neutro_9;
    position: relative;
  }
  h4 {
    font-family: $body-font;
    font-size: 1.4em;
    margin: 28px 0 16px 0;
    width: 90%;
  }
  p {
    margin: 0;
    width: 90%;
    font-size: 1em;
    line-height: 1.4em;
  }
  img {
    width: 80%;
  }
}








div.directorio {
  width: 80%;
  background-color: $neutro_9;
  padding: 0 12px;
  margin: 0px 0 0 0;
}

div.line {
  border-bottom: 1px solid $neutro_8;
  padding: 24px 0 18px 12px;
  position: relative;
  h2 {
    font-family: $body-font;
    font-size: 1.2em;
    font-weight: 800;
    margin: 0 0 8px 0;
    color: #428270;
    width: 90%;
  }
  p {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
  }
  a:link, a:visited, a:active {
    font-size: 14px;
    font-weight: 600;
  }
}



div.side {
  position: fixed;
  width: 18%;
  right: 20px;
  top: 180px;
  p {
    display: block;
    margin: 20px 0 0 0;
    font-size: 16px;
    line-height: 21px;
  }
}


a.tag:link, a.tag:active, a.tag:visited {
  border: 1px solid #428270;
  color: #428270;
  padding: 6px 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  margin: 6px 0;
}

a.tag:hover {
  background-color: #DDFEF4;
  transition: background-color 1s ease;
}

a.factive:link, a.factive:active, a.factive:visited  {
    background-color: #428270;
    color: #fff;
}



















.main_full_img {
  width: 100%;
  max-height: 420px;
  overflow: hidden;
  margin: 0 0 30px 0;
}

.main_full_img img {
  width: 100%;
}



.panel {
  min-height: 20px;
}

div.spacer {
  height: 300px;
}

div.spacer_a {
  height: 120px;
}

div.spacer_b {
  height: 60px;
}






@media only screen and (max-width: 1080px) {

  .content-container {
    width: 90%;
    left: 5%;
  }
  .row {
    flex-direction: column;
  }
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    flex: 1;
    padding: 0 0 0 0;
    overflow: hidden;
    img {
      width: 80%;
    }
  }
  .archivo {
    margin: 28px 0;
    padding: 0;
    h4 {
      font-size: 1.8em;
      margin: 22px 22px;
    }
  }
  div.place_img {
    width: 95%;
  }
  div.quote {
    position: relative;
    width: 90%;
    left: 5%;
    padding: 0 0;
    h4, h4.small, h4.verysmall {
      font-size: 1.8em;
      line-height: normal;
    }

  }
  #full_bg_image {
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
    background-size: auto 100%;
  }
  div.spacer {
    height: 80px;
  }


  div.directorio {
    width: 100%;
    margin: 80px 0 0 0;
  }
  #cover h2.page-subtitle {
    margin: 80px 0 28px 0;
  }
  p.big {
    text-align: left;
  }


  div#pasos {
    width: 90%;
    h3 {
      font-size: 3.9em;
      line-height: 1.1em;
      margin: 60px 0 40px 0;
    }
    p {
      margin: 22px 0;
    }
  }

  div#about {
    h4 {
      margin: 80px 0 30px 0;
    }
    div.pink {
      padding: 20px;
    }
  }

  div.side {
    position: fixed;
    width: 100%;
    left: 10px;
    top: 48px;
    background-color: #EEEEEC;
    z-index: 189;
    p {
      margin: 10px 0 10px 0;
      font-size: 16px;
    }
  }
}









































/*
PURO WAX
*/



  #wax-content {
    min-height: 70vh;

    .exhibit-meta {
      margin-bottom: $super-margin;

      .exhibit-author {
        margin-top: $more-margin;
        margin-bottom: 1em;
        padding-bottom: 0;
      }
      .exhibit-title {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 0;
      }
      .exhibit-date {
        margin: 0;
        padding: 0;
        font-weight: 400;
      }
    }

    .inline-image-reference {
      background-color: $neutro_9;
      margin-top: $more-margin;
      margin-bottom: $more-margin;
      display: inline-block;
      padding: 1em;
      max-width: 90%;
      img {
        max-width: 100%;
        max-height: 80vh;
      }
      .image-caption {
        margin: 1em 0 1em 0;
        font-family: $heading-font;
      }
    }
  }





#wax-footer {
  width: 100vw;
  padding-bottom: 5rem;
  padding-top: 3rem;
  background-color: $neutro_9;
  col {
    flex-basis: 0;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 100%;
    justify-items: space-between;
    min-width: 250px;
  }
  .footer-title {
    font-weight: bold;
    font-family: $heading-font;
    padding-bottom: 1em;
    margin: 0;
  }
  .footer-description {
    font-family: $heading-font;
    margin: 0;
    font-size: .9em;
    line-height: 1.2;
  }
  .footer-copyright {
    margin: $margin 0 $margin 0;
    font-size: .9em;
    line-height: 1.2;
  }
  .footer-links {
    font-family: $heading-font;
    margin: 0;
    font-size: .9em;
    line-height: 1.2;
  }
  .footer-logos {
    margin: $margin 0 $margin 0;
    a {
      text-decoration: none;
    }
    img {
      height: 35px
    }
  }
}


.wax-inline-container {
  @extend .container;

  margin: 0 auto;
  max-width: 90%;
  width: $max-width;
  overflow: flex-wrap;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-bottom: $more-margin;
}

.wax-parallax.inline-parallax {
  margin-top: $more-margin;
}

.wax-parallax.top-banner {

}

.wax-parallax {

  .parallax-image {
    background-color: $neutro_9;
    width: 100vw;
    height: $parallax-height;
    max-height: 55vh;
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
  }
  .parallax-caption {
    margin: 0 auto;
    width: 100vw;
    background-color: $neutro_9;
    padding: $less-margin 0;
    a {
      color: $green_8;
      font-weight: 700;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
      color: $green_0;
    }
  }
}

/*

item pages (iiif + metadata)

*/

.pagination-link {
  width: 30px;
  text-align: left;
  a {
    font-family: $body-font;
    font-weight: bold;
    font-size: 2.6em;
    color: $red !important;
    text-decoration: none !important;
    background-color: transparent;
    margin: 0;
    &:hover{
      color: $green_0 !important;
    }
  }
}

#handlers {
  position: fixed;
  top: 40%;
  right: 120px;
  background-color: #CAC6C5;
  border-radius: 8px;
  padding: 0 22px;
}
#prevlink {
  float:left;
}
.nextlink {
  float: right;
}
.item-label {
  margin: 40px 0 0px 0;
}

.item-view {
  width:           110%;
  display:         inline-flex;
  flex-wrap:       nowrap;
  justify-content: space-between;
  align-items:     center;
  margin-left:     -5%;

  .image-viewer {
    position: relative;
    height:   $viewer-height;
    max-height: 80vh;
    width:    100%;
    margin:   $more-margin 0 $more-margin 0;
    a {
      color: inherit !important;
    }

    li {
      font-size: 1em !important;
    }

    .item-full-image {
      max-width: $max-width;
      max-height: 100%;
      height: $viewer-height;
    }
  }



}

.download-button {
  .download {
    @extend .btn-outline-secondary;
    background-color: $green_8;
    border: 1px solid $green_0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }

  button.download:hover a {
    color: white;
  }

  a {
    color: $green_0;
  }

  a:hover {
    text-decoration: none;
  }

}


.metadata-block {
  font-family: $body-font;
  max-width: 100%;
  margin: 30px 0 60px 0;
  dt {
    font-size: 0.8rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 12px 0 6px 0;
  }
}

/*

search box

*/


.search-block{
  margin: $more-margin 0 $more-margin 0;
  #search{
    border-style: groove;
    border-width: 2px;
    margin-bottom: $more-margin;
    &:focus {
        box-shadow: none ;
        border-color: $neutro_9;
    }
  }
  #results {
    margin: 0;
    .result {
      padding: 1em;
      a {
        color: $neutro_0;
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        img {
          float: left;
          width: 50px;
        }
        p {
          margin: 0 !important;
          padding: 0;
          .title{
            color: $green_8;
          }
        }
      }
      &:hover {
        background-color: $neutro_9
      }
    }
  }
}



.wax-gallery-container {
  .facet-buttons {
    .facet {
      @extend .btn-outline-secondary;
      margin-right: .5em;
      margin-top: 1rem;
      border: 1px solid #428270;
      color: #428270;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    .active{
      @extend .facet;
      background-color: red;
      color: #fff;
    }
  }
  .wax-gallery {
    margin: $margin auto;
    min-height: 30vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .gallery-item {
      padding: 0;
      margin: 0 12px 12px 0;
      background-color: #ffffff;
      max-height: $thumbnail-height;
      max-width: $thumbnail-width;

      .gallery-thumb {
        object-position: 50% 20%;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;

        &:hover {
          .overlay {
            opacity: .8;
            cursor: pointer;
            .info {
              opacity: 1;
              filter: alpha(opacity=100);
              -webkit-transform: scale(1);
              -ms-transform: scale(1);
              transform: scale(1);
              // display: none;
            }
          }
        }

        .info {
          text-decoration: none;
          /*font-family: $heading-font !important;
          color: $neutro_9 !important;*/
          background-color: transparent;
          opacity: 0;
          filter: alpha(opacity=0);
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          font-weight: 600;
          font-size: 22px;
          line-height: 32px;
          color: #00FFB6;
          overflow: hidden;
          display: table-cell;
          padding: 1.5rem;
          vertical-align: center;
        }

        // .info {
        //   text-decoration: none;
        //   font-family: $heading-font !important;
        //   color: $neutro_9 !important;
        //   background-color: transparent;
        //   opacity: 0;
        //   filter: alpha(opacity=0);
        //   -webkit-transform: scale(0);
        //   -ms-transform: scale(0);
        //   transform: scale(0);
        //   font-weight: normal;
        //   overflow: hidden;
        //   display: table-cell;
        //   vertical-align: middle;
        //   padding: 0 $margin 0 $margin;
        // }

        .overlay {
          width: 100%;
          position: absolute;
          overflow: hidden;
          top: 0;
          left: 0;
          background-color: #161616;
          opacity: 0;
          -webkit-transition:opacity 0.5s ease-in-out;
          transition: opacity 0.5s ease-in-out;
          display: table;
          height: 200px;
        }
      }
    }
  }
}


.dataTables_wrapper {
  width: 100% !important;
  margin: $super-margin 0 $super-margin 0;
}

.sq-thumb-sm{
  object-fit: cover;
  object-position: 50% 20%;
  width: 80px;
  height: 80px;
}
