---
layout: entrevista_page
image_viewer: 'simple'
pagination: true
meta:
  en:
    - label: 'Disappeared'
      value: page.name_disappeared
    - label: 'Relationship'
      value: page.relationship
    - label: 'Date'
      value: page.disappearance_date
    - label: 'Disappearance Location'
      value: page.disappearance_location
    - label: 'Colectivo'
      value: page.colectivo
    - label: 'Interviewer and Camera'
      value: page.interviewers_and_camera
    - label: 'Interview Date'
      value: page.interview_date
    - label: 'Region'
      value: page.location_region
    - label: 'State'
      value: page.location_state
  es:
    - label: 'Persona Desaparecida'
      value: page.name_disappeared
    - label: 'Relación'
      value: page.relationship
    - label: 'Fecha'
      value: page.disappearance_date
    - label: 'Lugar'
      value: page.disappearance_location
    - label: 'Colectivo'
      value: page.colectivo
    - label: 'Entrevistador(a) y fotógrafo(a)'
      value: page.interviewers_and_camera
    - label: 'Fecha entrevista'
      value: page.interview_date
    - label: 'Región'
      value: page.location_region
    - label: 'Estado'
      value: page.location_state
---
