---
layout: default
---

{% comment %}
  The block below controls the image viewer
{% endcomment %}

<h3 alt="{{ page.label | escape }}" class='item-label'>{{ page.interviewee }}</h3>

<div id="handlers">
<span class='pagination-link' id='prevlink'></span>
<span class='pagination-link' id='nextlink'></span>
</div>

{% if page.image_viewer %}
  {% assign viewer = page.image_viewer %}
{% elsif layout.image_viewer %}
  {% assign viewer = layout.image_viewer %}
{% endif %}

{% if viewer %}
  <div class='item-view'>
    {% if viewer == 'openseadragon' %}
      {% include osd_iiif_image_viewer.html manifest=page.manifest prevlink=prevlink nextlink=nextlink %}
    {% else %}
       {% include simple_image_viewer.html full_image=page.full prevlink=prevlink nextlink=nextlink %}
    {% endif %}
  </div>
  {% unless layout.pagination == false %}{% include item_pagination.html %}{% endunless %}
{% endif %}


<p style="font-size:0.8rem; font-weight:800; text-transform: uppercase; margin: 0 0 8px 20px;">{{ site.data[site.active_lang]["global"].interview }}</p>
<audio controls>
  <!--<source src="{{site.baseurl}}/assets/entrevistas/{{page.pid}}.mp3" type="audio/mpeg">-->
  <source src="https://bulabe.com/buscadoras/entrevistas/{{page.pid}}.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

{% comment %}
  The block below controls the item metadata table
{% endcomment %}

{% if layout.meta.size %}
  {% assign metadata = layout.meta %}
{% elsif page.meta.size %}
  {% assign metadata = page.meta %}
{% endif %}
{% if metadata.size %}
  {% include item_metadata_polyglot.html meta=metadata %}
{% endif %}
